/* Ogólne */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    font-family: "PT Sans", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    height: 100%;
    overflow: hidden;
}

/* Login Page */
#page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#form-container {
    height: auto;
    width: 90%;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

#login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#login-form input {
    height: 45px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#login-form button {
    height: 50px;
    font-size: 18px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#login-form button:hover {
    background-color: #0056b3;
}

#error {
    color: red;
    text-align: center;
}

/* App */
#app {
    display: flex;
    flex-direction: row;
    height: 100%;
    border: 1px solid #ddd;
    background-color: #fff;
}

/* Side Panel */
#side-panel {
    width: 250px;
    display: flex;
    flex-direction: column;
    background-color: #f8f9fa;
    border-right: 1px solid #ddd;
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
}

#side-panel button {
    height: 50px;
    margin-bottom: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#side-panel button:hover {
    background-color: #0056b3;
}

#line {
    height: 1px;
    background-color: #c5c5c5;
    margin-bottom: 10px;
}

#account {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

#account img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
    border: 2px solid #007BFF;
}

#date-div {
    margin-top: auto;
    text-align: center;
}

#date-div p {
    margin: 5px 0;
    font-size: 14px;
    color: #666;
}

.menu:last-of-type {
    background-color: #d81010 !important;
}

.menu:last-of-type:hover {
    background-color: #b30d0d !important;
}

/* Content */
#content {
    flex-grow: 1;
    overflow-y: auto;
    padding: 15px;
    background-color: #fff;
}

/* New order*/

#new-order {
    display: none;
}

.menu-item {
    padding: 10px;
    max-width: 500px;
    background-color: #f1f1f1;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.menu-item:hover {
    background-color: #007BFF;
    color: white;
}

.menu-item.selected {
    background-color: #007BFF;
    color: white;
    border: 2px solid #004b8d;
}

.menu-item button {
    display: none;
}

#dishes-summary, #additions-summary {
    margin-top: 20px;
    max-width: 500px;
}

.order-item {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}

/* Items List */

#item-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.item {
    width: 100%;
    max-width: 500px;
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.item-element {
    margin: 5px 0;
    font-size: 14px;
    color: #333;
}

.item button {
    padding: 8px 16px;
    font-size: 14px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.item button:hover {
    background-color: #0056b3;
}

.edit-section {
    display: none;
    margin-top: 10px;
    padding: 15px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.edit-section label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.edit-section input,
.edit-section textarea,
.edit-section select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}

.edit-section button {
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.edit-section button:hover {
    background-color: #45a049;
}

.edit-section form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.edit-section form label,
.edit-section form input,
.edit-section form textarea,
.edit-section form select {
    grid-column: span 2;
}

.edit-section button[type="submit"] {
    grid-column: span 2;
    justify-self: center;
}

/* Dish Add */
#dish-add, #component_add, #addition_add, #provider_add {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
}

#dish-add form,
#new-order form,
#component_add form,
#addition_add form,
#provider_add form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#dish-add form input,
#dish-add form textarea,
#add-staff-form input,
#new-order form input,
#new-order form textarea,
#component_add form input,
#addition_add input,
#provider_add input {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#new-order select,
#component_add select,
#addition_add select,
#provider_add select {
    width: 100%;
    max-width: 500px;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}

#dish-add form button,
#add-staff-form button,
#new-order form button,
#component_add button,
#addition_add button,
#provider_add button {
    align-self: flex-start;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#dish-add form button:hover,
#add-staff-form button:hover,
#new-order button:hover,
#component_add button:hover,
#addition_add button:hover,
#provider_add button:hover {
    background-color: #0056b3;
}

/* Order List */
#order-list {
    display: none;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.order-item {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.order-element {
    font-size: 14px;
    margin: 5px 0;
}

.order-item button {
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 14px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.order-item button:hover {
    background-color: #0056b3;
}

.cancel_button {
    background-color: #d81010 !important;
    margin-left: 10px;
}

/* Employee List */
#employee-list {
    display: none;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.staff-item {
    width: 100%;
    max-width: 500px;
    padding: 15px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.staff-item-element {
    margin: 5px;
    font-size: 14px;
    color: #333;
}

.staff-item button {
    padding: 8px 16px;
    font-size: 14px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.staff-item button:hover {
    background-color: #0056b3;
}

#add-staff-container {
    text-align: center;
    margin-bottom: 20px;
}

#add-staff-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
}

#add-staff-button:hover {
    background-color: #218838;
    transform: scale(1.05);
}

#add-staff-button:active {
    background-color: #1e7e34;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

#modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    z-index: 1000;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.hidden {
    display: none;
}

/* Responsiveness */
@media (max-width: 768px) {
    #app {
        flex-direction: column;
    }

    #side-panel {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    #side-panel button {
        width: 45%;
        margin-bottom: 10px;
    }

    #content {
        padding: 10px;
    }

    .item,
    .order-item {
        width: 100%;
    }
}